{% extends 'base.html.twig' %}

{% block title %}Hello TravelAgencyController!{% endblock %}

{% block body %}
<div class="container text-center mt-5">
        <div class="main-text">
            TRAVEL WITH SKYTOURS
        </div>
        <div class="title">Travel to USA</div>
        <div class="row">
            <div class="col-6 mt-2"><img class="image" src="https://cdn.pixabay.com/photo/2016/11/23/15/32/pedestrians-1853552_1280.jpg" alt="" width="600px"></div>
            <div class="col-6 mt-2"><img class="image" src="https://cdn.pixabay.com/photo/2016/09/15/18/59/golden-gate-bridge-1672473_1280.jpg" alt="" width="600px"></div>
        </div>
        <div class="title">Travel to Europe</div>
        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row">
            <div class="col-6 col-md-4 mt-2"><img class="image" src="https://cdn.pixabay.com/photo/2014/11/13/23/34/palace-530055_1280.jpg" alt="" width="390px"></div>
            <div class="col-6 col-md-4 mt-2"><img class="image" src="https://cdn.pixabay.com/photo/2018/07/18/20/25/channel-3547224_1280.jpg" alt="" width="390px"></div>
            <div class=" col-6 col-md-4 mt-2"><img class="image" src="https://cdn.pixabay.com/photo/2017/08/07/10/05/neuschwanstein-2602208_1280.jpg" alt="" width="390px"></div>
        </div>
        <div class="title">Travel to Asia</div>
        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div class="row">
            <div class="col-6 mt-2"><img class="image" src="https://cdn.pixabay.com/photo/2016/11/07/14/03/japan-1805865_1280.jpg" alt="" width="600px"></div>
            <div class="col-6 mt-2"><img class="image" src="https://cdn.pixabay.com/photo/2021/11/25/15/28/temple-6823939_1280.jpg" alt="" width="600px"></div>
        </div>
    </div>
{% endblock %}
