<div class="card footer">
  <div class="card-header">
    Quote of the day
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>  INVESTMENT IN TRAVEL IS AN INVESTMENT IN YOURSELF. </p>
      <footer class="blockquote-footer">MATTHEW KARSTEN</footer>
    </blockquote>
  </div>
</div>